#content_backg {
    background: url(../img/background.jpg) no-repeat top center;
    background-size: auto;
    display: block;
    height: auto;
}

body {
    background-color: #fff;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    font-family: 'Open Sans';
}

#content_desc_section {
    display: inline-block;
    padding: 5 20px
}

#content_desc {
    padding: 20px 0 0 0px;
}

#content_btn {
    width: 600px;
    float: right;
}

.btn {
    font-size: 16px;
}

#img_backg {
    padding: 0;
    margin: 0 auto;
    border: 0;
    outline: none;
    btn-factor: both;
}

.content_pading {
    padding: 0;
}

.content_header {
    background-color: #1c1c1c;
}



#content_footer {
    background-image: url("../img/textura-footer.gif");
    overflow: hidden;
    margin-bottom: -1px;
}

.contet_body {
    background-color: #972b0e;
}

.contet_body,
.contet_body h2,
.contet_body a,
.contet_body a:visited {
    color: #ffffff;
}

.contet_body h1,
.content_body_2 h1 {
    btn-factor: both;
    color: #555555;
    font-family: "Courgette", cursive;
    font-size: 34px;
    font-weight: normal;
    text-transform: none;
    text-align: center;
}

.contet_body h2 {
    font-family: "Courgette", cursive;
    font-size: 20px;
    padding: 0;
    text-align: center;
    color: #fffaf6;
}



@media screen and (min-width:1080px) {

    .hide_desktop {
        display: none !important;
    }

    header {
        height: 95px;
        margin: 0 auto;
        position: relative;
        width: 1050px;
    }

    #logo_img {
        height: 65px;
        left: 0;
        position: absolute;
        top: 10px;
        width: 314px;
    }

    header #menu_desk {
        position: absolute;
        width: 720px;
        padding: 2vw 0vw 0vw 31vw;
    }

    #menu_desk_btn {
        display: none;
    }

    #menu_desk ul>li {
        float: left;
    }

    section {
        position: relative;
        width: 1050px;
        margin: 0 auto;
        padding: 20px 0;
        display: table;
    }

    div[class^="content_"] .option_crc {
        width: calc((100% / 3) - 30px);
        float: left;
        padding: 10px;
        text-align: center;
    }

    footer {
        height: 255px;
        margin: 20px auto 0;
        position: relative;
        width: 1050px;
    }


    section#content_social {
        top: 10px;
        float: left;
        position: relative;
        margin: 0 5% 0 0;
        width: 220px
    }

    section#img_form {
        float: right;
        top: 10px;
        position: relative;
        width: 427px
    }

    section#contact {
        float: left;
        top: 10px;
        position: relative;
        width: 280px;
    }

}

@media screen and (max-width:720px) {
    header {
        height: 135px;
        margin: 0 15px;
        position: relative;
    }

    #logo_img {
        btn-factor: both;
        margin: 0 auto;
        padding: 10px;
    }


    header #menu_desk {
        margin: 0 auto;
        position: relative;
        top: -18000px;
    }

    #menu_mob {
        width: 30px;
        cursor: pointer;
        display: block;
        margin: 0 auto;

    }

    #menu_desk>ul {
        display: table;
        margin: 0 auto;
        width: 280px;
    }

    #content_btn {
        width: 100%;
        margin: auto;
    }

    #img_backg {
        width: 100%;
    }

    #content_desc {
        padding: 25px 20px;
    }

    #content_desc_section img {
        display: none;
    }

    #content_backg {
        display: none;
    }

    .hide_desktop {
        display: block !important;
        width: 100%;
    }

    #menu_desk ul li {
        background: #161616;
        background-repeat: no-repeat;
        list-style: none;
        display: block;
        margin: 1px 0;
        opacity: 0.9;
        padding: 0;
    }

    #menu_desk a,
    #menu_desk a:visited {
        color: #ffffff;
        font-weight: normal;
        font-size: 17px;
        width: 100%;
        background: #171717;
        display: table;
        margin-bottom: 2px;
        text-align: center;
        opacity: 0.9;
        padding: 10px 0;
    }

    /* FOOTER */
    footer {
        margin: 15px auto;
    }

    footer section {
        btn-factor: both;
        display: table;
        margin: auto;
        width: 44% !important;
        margin-bottom: 40px;
    }

    #twitter,
    #google,
    #facebook {
        margin-right: 9% !important;
    }

    footer section h1 {
        font-size: 24px !important;
        text-align: center;
        text-transform: capitalize !important;
        margin-bottom: 20px !important;
    }

    footer section#img_form {
        width: 285px !important;
    }

}

footer section h1 {
    color: #171717;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 18px;
    text-transform: capitalize;
}

footer section p {
    margin: 0;
    color: #171717;
    font-weight: bold;
    font-size: 18px;
}

#twitter {
    background: url(../img/img-redessociais.png) no-repeat top center;
    display: table;
    text-decoration: none;
    text-indent: -50000px;
    width: 41px;
    height: 41px;
    float: left;
    margin-right: 3%;
}


#facebook {
    background: url(../img/img-redessociais.png) no-repeat 0 20%;
    display: table;
    text-decoration: none;
    text-indent: -50000px;
    width: 41px;
    height: 41px;
    float: left;
    margin-right: 3%;
}


#googleplus {
    background: url(../img/img-redessociais.png) no-repeat 0 40%;
    display: table;
    text-decoration: none;
    text-indent: -50000px;
    width: 41px;
    height: 41px;
    float: left;
    margin-right: 3%;
}



@media screen and (min-width:720px) {
    div[class^="content_"] .img_desc_mobile {
        float: left;
        /* border: 500px; */
        margin: 20px 15px 15px 0
    }


    div[class^="content_"] .img_desc_desk {
        display: block;
        margin: 15px auto;
    }
}


.img_circle {
    display: block;
    margin: 15px auto;
    border: 7px solid #F9F9F9 !important;
    border-radius: 50%;
    width: 233px;

}


.btn-factor {
    btn-factor: both;
}

a.btn,
a.btn:visited {
    background-color: #1c1c1c;
    border: medium none;
    color: #ffffff !important;
    cursor: pointer;
    display: block;
    margin: 15px auto;
    padding: 7px 16px;
    text-align: center;
    width: 220px;
}

@media screen and (min-width:320px) {
    .show_mobile {
        display: none;
    }
}

@media screen and (max-width:720px) {
    .hide_mobile {
        display: none;
    }
}